body {
    font-family: Arial, Helvetica, sans-serif sans-serif;
      text-align: center;
      font-weight: 300;
    padding-top: 50px;
 
  }
  /* NAVBAR */

.logo{
    width: 95px;
    border-radius: 28%;
  }
  #navbar {
    border-bottom: 1px solid #7a45509d;
    background-color:rgb(184, 164, 152);
  }


  .container_adm {
    margin-top: 2rem;
    padding: 2rem;
      opacity : 0.9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
     text-align: center;
  }
  .form_adm{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    
  }
  .forms{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    
  }
  